@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

#banner {
  background-image: url(./images/banner.png);
}

#bg-effect {
  background-image: linear-gradient(
      to right,
      rgba(17, 17, 17, 0.8),
      rgba(17, 17, 17, 0.8),
      transparent
    ),
    url("./images/banner.png");
}

.qna-container .box-1 {
  background-color: #f3f3f3;
  width: 570px;
  height: 189px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: left;
  align-items: center;
  padding: 32px 35px;
  border-radius: 8px;
}
.box-1 h2 {
  font-size: 24px;
}
.box-1 p {
  font-size: 16px;
  font-weight: 400;
}
.qna-container .box {
  background-color: #f3f3f3;
  width: 570px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 20px;
  align-items: center;
  padding: 32px 35px;
  border-radius: 8px;
}
.qna-container img {
  width: 570px;
  height: 574px;
}

/* .qna-container .box-1 .box{
display: flex;
justify-content: center;
align-items: center;
} */
.contact{

  display: flex;
  flex-direction: column;
  margin-top: 120px;
text-align: center;
  /* background-color: red; */
}
.contact-container{
  display: flex;
    width: 1170px;
  height: 570px;
  margin: 0 auto;
}
.left-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.right-container{
  display: flex;
  flex-direction: column;
}
.right-container input{
  width: 570px;
  height: 72px;
   background-color: #f3f3f3;
   margin-left: 20px;
   padding: 23px;
   margin-bottom: 30px;
}
.sms{
  width: 570px;
  height: 162px;
}
.bxs{
  width: 285px;
  height: 285px;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bxs{
  border-right: 1px solid rgb(207, 207, 207);
  border-bottom: 1px solid rgb(207, 207, 207);
}
.no-border{
  border-right: none;
}
 .no-border-no{
  border-bottom: none;
}

.bxs h3{
  font-size: 24px;
  font-weight: 600;
}
.bxs p{
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

footer h3 {
  font-size: 24px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
